<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="agua.component.css">
</head>

<body>






  <div class="container py-1">
    <div class="row py-2 ">
        <div class="col-lg-4  m-auto text-center">
            <h1> Agua</h1>
            <h6> ..</h6>
        </div>
    </div>


  </div>



<h4>working do not touch!!</h4>
  <div class="card" style="border-radius: 15px;width: 80% ;   ">
    <div class="card-body">
    <div class="container mt-2 col-md-12 "     >
        <div class="container ">
            <div class="row">
                <div class="col-sm"  >
                    <ul class="list-group list-group-flush h6">
                        <li class="list-group-item">Nombre del tubo</li>
                        <li class="list-group-item">Codigo</li>
                        <li class="list-group-item">Standar</li>
                        <li class="list-group-item">Otros datos</li>
                        <li class="list-group-item">Precio</li>
                      </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
              <div class="services-section">
                <div class="col-lg"  style="border: 2px solid rgb(255, 255, 255);">
                  <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
                </div>
              </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="services-section2">
              <div class="col-lg"  style="border: 2px solid rgb(255, 255, 255);">
                <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>








<div class="card" style="border-radius: 15px;width: 80% ; margin-top:40px;">
  <div class="card-body">


  <div class="container mt-2 col-md-12 "     >
      <div class="container ">
          <div class="row">
              <div class="col"  >
                  <ul class="list-group list-group-flush h6">
                      <li class="list-group-item">Nombre del tubo: 123123123</li>
                      <li class="list-group-item">Codigo: 123123123</li>
                      <li class="list-group-item">Standar: 123123123</li>
                      <li class="list-group-item">Otros datos: 123123123</li>
                      <li class="list-group-item">Precio : 123123123</li>
                    </ul>
              </div>
          </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="services-section">
              <div class="col-lg"  style="border: 2px solid rgb(255, 255, 255);">
                <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="services-section2">
              <div class="col-lg"  style="border: 2px solid rgb(255, 255, 255);">
                <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
              </div>
            </div>
          </div>

        </div>
      </div>


  </div>


</div>
</div>






<div class="card" style="border-radius: 15px;width: 80% ; margin-top:40px;">
  <div class="card-body">


  <div class="container mt-2 col-md-12 "     >
      <div class="container ">
          <div class="row">
              <div class="col-sm"  >
                  <ul class="list-group list-group-flush h6">
                      <li class="list-group-item">Nombre del tubo</li>
                      <li class="list-group-item">Codigo</li>
                      <li class="list-group-item">Standar</li>
                      <li class="list-group-item">Otros datos</li>
                      <li class="list-group-item">Precio</li>
                    </ul>
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-lg"  style="border: 2px solid rgb(255, 255, 255);">


                <img src="../../assets/images/Agua/cat2.jpg" class="img-fluid">



              </div>
              <div class="col-7" style="border: 0px solid rgb(255, 57, 57);">
                <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
              </div>
          </div>
      </div>
  </div>

</div>
</div>




<div class="card" style="border-radius: 15px;width: 80% ; margin-top:40px;">
  <div class="card-body">


  <div class="container mt-2 col-md-12 "     >
      <div class="container ">
          <div class="row">
              <div class="col-sm"  >
                  <ul class="list-group list-group-flush h6">
                      <li class="list-group-item">Nombre del tubo</li>
                      <li class="list-group-item">Codigo</li>
                      <li class="list-group-item">Standar</li>
                      <li class="list-group-item">Otros datos</li>
                      <li class="list-group-item">Precio</li>
                    </ul>
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-lg"  style="border: 2px solid rgb(255, 255, 255);">


                <img src="../../assets/images/Agua/cat2.jpg" class="img-fluid">



              </div>
              <div class="col-7" style="border: 0px solid rgb(255, 57, 57);">
                <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
              </div>
          </div>
      </div>
  </div>

</div>
</div>






<footer   class="border-top" >

  <p> © 2022 Conexotub S A</p>



  </footer>


</body>

</html>
