html{

height: 100%;
width: 100%;

}

body{

margin: 0;

min-height: 100%;

position: relative;

padding-bottom: 100px;

min-height: 100hv;

}

footer{

text-align: left;
background-color: rgb(255, 255, 255);
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;

}

.container {
margin-right: auto;
margin-left: auto;

display: block;

border-radius: 50px;

border-color: red;

}

.services-section img {

margin-left: auto;
margin-right: auto;
display: block;
}

.services-section {

margin-left: auto;
margin-right: auto;
display: block;
}
