<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container py-1">
    <div class="row py-2 ">
      <div class="col-lg-4  m-auto text-center">
        <h1> Agua</h1>
        <h6> ..</h6>
      </div>
    </div>
  </div>

  <app-datos-list></app-datos-list>


  <!╌╌ product ╌>

  <div class="container  " style="margin-left: auto; margin-right: auto;">

    <div class="row justify-content-center"
      style="margin-left: auto; margin-right: auto; border: 3px solid rgb(0, 0, 0); border-radius: 25px; padding-top:10px ; padding-bottom:10px ; ">

      <div class="container-fuild" style="width:90% ; background-color: rgb(255, 255, 255); ">
        <div class="row">
          <div class="col-xl">

          <div class="col-md-6">
            <div class="services-section">


              <div class="datos" >
                poner los de arriba en el mismo col
                <p >Nombre : aaaaaa </p>
                <p >Medidas : 123-1123 </p>
                <p >Codigo : 3423454</p>
                <p >Precio : 100000</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="services-section">
              <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
            </div>
          </div>

        </div>

        </div>

        <div class="row">

          <div class="col">
            <div class="services-section">
              <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

    <!╌╌ product ╌>

      <div class="mt-5 col-md-12">
        <div class="container  " style="margin-left: auto; margin-right: auto;">

          <div class="row justify-content-center"
            style="margin-left: auto; margin-right: auto; border: 3px solid rgb(0, 0, 0); border-radius: 15px; padding-top:10px ; padding-bottom:10px ; ">

            <div class="container-fuild" style="width:90% ; background-color: rgb(255, 255, 255); ">
              <div class="row">
                <div class="col">
                  <div class="services-section">
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item">Nombre : aaaaaa </li>
                      <li class="list-group-item">Medidas : 123 - 13123 </li>
                      <li class="list-group-item">Codigo : 3423454</li>
                      <li class="list-group-item">Precio : 100000</li>
                    </ul>
                  </div>
                </div>

                <div class="col">
                  <div class="services-section">
                    <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col">
                  <div class="services-section">
                    <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <!╌╌ product ╌>

        <div class="mt-5 col-md-12">

          <div class="container  " style="margin-left: auto; margin-right: auto;">

            <div class="row justify-content-center"
              style="margin-left: auto; margin-right: auto; border: 1px solid rgb(0, 0, 0); border-radius: 15px; padding-top:10px ; padding-bottom:10px ; ">

              <div class="container-fuild" style="width:90% ; background-color: rgb(255, 255, 255); ">
                <div class="row">
                  <div class="col">
                    <div class="services-section">
                      <ul class="list-group list-group-flush ">
                        <li class="list-group-item">Nombre : aaaaaa </li>
                        <li class="list-group-item">Medidas : 123 - 13123 </li>
                        <li class="list-group-item">Codigo : 3423454</li>
                        <li class="list-group-item">Precio : 100000</li>
                      </ul>
                    </div>
                  </div>

                  <div class="col">
                    <div class="services-section">
                      <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col">
                    <div class="services-section">
                      <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

        <!╌╌ product ╌>

          <div class="mt-5 col-md-12">

            <div class="container  " style="margin-left: auto; margin-right: auto;">

              <div class="row justify-content-center"
                style="margin-left: auto; margin-right: auto; border: 1px solid rgb(0, 0, 0); border-radius: 15px; padding-top:10px ; padding-bottom:10px ; ">

                <div class="container-fuild" style="width:90% ; background-color: rgb(255, 255, 255); ">
                  <div class="row">
                    <div class="col">
                      <div class="services-section">
                        <ul class="list-group list-group-flush ">
                          <li class="list-group-item">Nombre : aaaaaa </li>
                          <li class="list-group-item">Medidas : 123 - 13123 </li>
                          <li class="list-group-item">Codigo : 3423454</li>
                          <li class="list-group-item">Precio : 100000</li>
                        </ul>
                      </div>
                    </div>

                    <div class="col">
                      <div class="services-section">
                        <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col">
                      <div class="services-section">
                        <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>

          <!╌╌ product ╌>

            <div class="mt-5 col-md-12">

              <div class="container  " style="margin-left: auto; margin-right: auto;">

                <div class="row justify-content-center"
                  style="margin-left: auto; margin-right: auto; border: 1px solid rgb(0, 0, 0); border-radius: 15px; padding-top:10px ; padding-bottom:10px ; ">

                  <div class="container-fuild" style="width:90% ; background-color: rgb(255, 255, 255); ">
                    <div class="row">
                      <div class="col">
                        <div class="services-section">
                          <ul class="list-group list-group-flush ">
                            <li class="list-group-item">Nombre : aaaaaa </li>
                            <li class="list-group-item">Medidas : 123 - 13123 </li>
                            <li class="list-group-item">Codigo : 3423454</li>
                            <li class="list-group-item">Precio : 100000</li>
                          </ul>
                        </div>
                      </div>

                      <div class="col">
                        <div class="services-section">
                          <img src="../../assets/images/Agua/cat1.jpg" class="img-fluid">
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col">
                        <div class="services-section">
                          <img src="../../assets/images/Agua/ejemplo.JPG" class="img-fluid">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>

            <footer class="border-top">

              <p> © 2022 Conexotub S A</p>

            </footer>

</body>

</html>
