*{
  margin: 0;
  padding:0 ;

 }


 html{

  height: 100%;
  width: 100%;

 }







footer{

  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;


   }


.img-resize {

    height: 300px;
    width: auto;

}


.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}


.col{

border: 1PX;

}

.services-section img {

  margin-left: auto;
  margin-right: auto;
  display: block;
}

